<div id="details" class="container pt60">
    <div style="overflow-x:auto;">
        <table class="table table-bordered">
            <tr class="main">
                <th><h3>Features</h3></th>
                <th class="text-center"><h3>DEMO</h3></th>
                <th class="text-center"><h3>START</h3></th>
                <th class="text-center"><h3>STANDARD</h3></th>
                <th class="text-center"><h3>PREMIUM</h3></th>
            </tr>
            <tr>
                <td>Number of users
                <p class="small"><em>* It refers to the number of application users who have access to a shared database within one team.</em></p>
                </td>
                <td class="text-center">1</td>
                <td class="text-center">1</td>
                <td class="text-center">2</td>
                <td class="text-center">5</td>
            </tr>
            <tr>
                <td>Number of new clients (monthly)
                    <p class="small"><em>* The maximum number of new clients (patients) that can be stored in the database in the current month.</em></p>
                </td>
                <td class="text-center">0</td>
                <td class="text-center">5</td>
                <td class="text-center">20</td>
                <td class="text-center">unlimited</td>
                
            </tr>
            <tr>
                <td>Number of foods</td>
                <td class="text-center">660</td>
                <td class="text-center">660</td>
                <td class="text-center">724</td>
                <td class="text-center">724</td>
            </tr>
            <tr>
                <td>Number of macro and micro nutrients</td>
                <td class="text-center">39</td>
                <td class="text-center">39</td>
                <td class="text-center">39</td>
                <td class="text-center">39</td>
            </tr>
            <tr>
                <td>Number of physical activities</td>
                <td class="text-center">428</td>
                <td class="text-center">428</td>
                <td class="text-center">428</td>
                <td class="text-center">428</td>
            </tr>
            <tr>
                <td>Number of diets</td>
                <td class="text-center">24</td>
                <td class="text-center">24</td>
                <td class="text-center">24</td>
                <td class="text-center">24</td>
            </tr>
            <tr>
                <td>Calculating of BMI and Energy Consumption</td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Detail calculation of energy consumption</td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Choosing additional physical activity</td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Creating menues</td>
                <td class="text-center">Limited to 10 foods per menu</td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Creating menus/norms for groups of consumers</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Creating recipes</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Print daily and weekly menu in PDF format</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Print client data in PDF format</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <!--<tr>
                <td>Menu examples</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>-->
            <tr>
                <td>Entering your own foods</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Creating price list</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Scheduler</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Sending menu to the client's e-mail</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Client App
                    <p class="small"><em>* Allow your patients to follow and record the change of their physical mass and take up the menus.</em></p>
                </td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Logo
                    <p class="small"><em>* Print menus and other documents in PDF with your company logo in the document header.</em></p>
                </td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Client database</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Tracking anthropometric parameters</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Technical Support</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr class="main small">
                <td>Price</td>
                <td class="text-center">
                    <label>0 €</label>
                </td>
                <td class="text-center">
                    <label>{{550/config.usd | number:2}} $ / 1 year</label>
                    <label>{{880/config.usd | number:2}} $ / 2 years</label>
                </td>
                <td class="text-center">
                    <label>{{950/config.usd | number:2}} $ / 1 year</label>
                    <label>{{1520/config.usd | number:2}} $ / 2 years</label>
                </td>
                <td class="text-center">
                    <label>{{1850/config.usd | number:2}} $ / 1 year</label>
                    <label>{{2960/config.usd | number:2}} $ / 2 years</label>
                </td>
            </tr>
        </table>
    </div>
</div>